{
  "extends":"standard",
  "plugins": [
    "html"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  // add your custom rules here
    "rules": {
        // allow paren-less arrow functions
        "arrow-parens": 0,
        // 缩进风格
        "object-curly-spacing": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4
        ],
        //缩进风格
        // allow async-await
        "generator-star-spacing": 0,
        // 语句结尾强制分号
        "semi": [
            2,
            "always"
        ],
        // no-tabs
        "no-tabs": "off",
        // 函数参数前不允许空格
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "eol-last": 0,
        // 允许.转义
        "no-useless-escape": 0
    }
}
