/**
 * @file styl为css预处理框架（与less、scss功能类似，但写法更健壮）
 * @author  lvmengmeng
 */
body {
    padding 0
    margin 0
    font-family -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
    a {text-decoration:none; color #19bbff} 
    a:focus {outline:none; -moz-outline:none}
    ul {margin: 0;padding: 0}
    ul li {list-style-type:none;}
    #footer {
        width 100%
        height 40px
        line-height 40px
        position absolute
        bottom 0
        text-align center
        font-size 12px
        color #666
        background-color #fafafa
    }
}
